# first list the packages you wish to download from PyPI
#teachbooks # BUMP to 0.2.2
git+https://github.com/Teachbooks/teachbooks@dutch
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-exercise
sphinx-tudelft-theme #BUMP
teachbooks-sphinx-tippy
sphinx-iframes
sphinx-named-colors
sphinx-proof
sphinx-dropdown-toggle

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe

docutils==0.17.1
